<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Laura</h1>
    <h2>New Vip Customer submitted the questionnaire.</h2>
    <h2>Below is the information</h2>
    <h3>Name : <%= @form["name"]%></h3>
    <h3>Purpose of the call:: <%= @form["purpose"]%></h3>
  </body>
</html>