<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Laura</h1>
    <h2>New Colleague submitted the questionnaire.</h2>
    <h2>Below is the information</h2>
    <h3>Name : <%= @form["name"]%></h3>
    <h3>Question 1:What is your expertise?</h3>
    <h3><%= @form["expertise"]%></h3>
    <h3>Question 2:How can I be of service to you?</h3>
    <h3><%= @form["service"]%></h3>
    <h3>Question 3:How can we collaborate?</h3>
    <h3><%= @form["collaborate"]%></h3>
  </body>
</html>