<div class="row " >
  <br>
  <div class="medium-4 column medium-centered door">
  <div class="panel text-center">
    <h3>Health Invitation</h3>
    <h4>Password</h4>
    <input ng-model="password"type="password" required>
    <button ng-click="openDoor()">Continue</button>
  </div>
  </div>
</div>