<div class="row">
  <br><br><br>
  <div class="medium-8 medium-centered column">
    <p>I look forward to speaking with you. Please enter your name and you will be taken to the calendar to schedule a conversation. – Dr. Fletcher</p>
  </div>
      <form>
          <div class="medium-8 medium-centered column">
                  <label>Name:
                    <input ng-model="vip.name" type="text" required>
                  </label>
                  <label>Purpose of the call:
                    <input ng-model="vip.purpose" type="text" required>
                  </label>
          </div>
          <br>
          <div class="medium-8 column medium-centered"style="text-align: center;">
                <button type="submit" ng-click="sendVipEmail(vip)" />Take me to the Calendar</button>
           </div>
      </form>
</div>